body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    /* height: 10000px; */
    line-height: 1.6;
    color: black;
    overflow-x: hidden;
}

li {
    list-style: none;

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #40a05b;
}

.color-yellow {
    color: #eabb31;
}

.back-yellow {
    background-color: #eabb31;
}

.text-justify {
    text-align: justify;
}

button:disabled {
    cursor: not-allowed;
}

.button {
    border: none;
    background: linear-gradient(63deg, #2670b3, #19fbfa);
    background-size: 200% 200%;
    color: white;
    border-radius: 50px;
    padding: 10px 30px 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.button:after,
.button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 5px;
    width: 126px;
    z-index: 1;
}

.button .text-top {
    position: relative;
    z-index: 99999;
}

.button::after {
    background-color: #40a05b;
    transform: rotate(110deg) translate(19px, -54px);
}

.button::before {
    background-color: #eabb31;
    transform: rotate(110deg) translate(19px, -47px);
}

.button:hover {
    animation: gradientMove 2s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: left center;
    }

    50% {
        background-position: right center;
    }

    100% {
        background-position: left center;
    }
}

.heading {
    color: #2670b3;
    position: relative;
    margin-bottom: 30px;
}

.heading:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 8px;
    height: 4px;
    width: 100px;
    background-color: #2670b3;
    border-radius: 50px;
}

.heading:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 5px;
    width: 5px;
    background-color: #2670b3;
    border-radius: 50px;
}

.heading-2 {
    color: #2670b3;
    font-weight: 600;
}

/* header section  */
header {
    position: relative;
    z-index: 999999;
}

.logo img {
    height: 65px;
}

.contact a {
    color: #2670b3;
    margin-right: 10px;
    font-size: 18px;
}

.contact a:hover {
    color: #40a05b;
}

/* header section end */

/* Fullscreen background video styles */
.hero-main,
.bg-video {
    position: relative;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    /* margin-top: -97px; */
}

.bg-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
    filter: brightness(0.9);
}

.video-content {
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 2;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 10px black;
    padding: 0px 140px;
}

.video-content h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

@media screen and (max-width:992px) {
    .video-content {
        top: 10%;
        padding: 0px 100px;
    }
}

@media screen and (max-width:700px) {
    .logo img {
        height: 50px;
    }

    .video-content h1 {
        font-size: 1.8rem;
    }

    .video-content {
        top: 10%;
        padding: 0px 70px;
    }
}

@media screen and (max-width:500px) {
    .video-content {
        padding: 0px 30px;
    }
}

.animation-bg {
    background: linear-gradient(63deg, #2670b3 60%, #19fbfa);
    background-size: 200% 200%;
    animation: gradientMove 5s ease infinite;
}

.input,
.textarea {
    border: 1px solid #0000002b;
    padding: 7px 10px;
    margin: 5px 0px;
    width: 100%;
    border-radius: 7px;
}

.input:focus,
.textarea:focus {
    outline: 1px solid #2393c5;
}

footer input,
footer textarea {
    border: none;
    padding: 2px 10px;
    margin: 5px 0px;
    width: 100%;
    border-radius: 7px;
    outline: none;
}

.icon {
    color: #eabb31;
}

.box {
    text-align: center;
    border: 1px solid #eabb31;
    padding: 0px 40px 40px 40px;
    /* background: #eabb31; */
    background: white;
    color: black;
    border-radius: 15px;
    margin-top: 60px;
    height: 165px;
    transition: all .2s linear;
    cursor: pointer;
}

.box:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 10px #eabb31;
    color: #eabb31;
}

.box-img {
    height: 110px;
    width: 110px;
    margin: auto;
    /* background: #eabb31; */
    background: white;
    padding: 20px;
    margin-top: -55px;
    border-top: 1px solid #eabb31;
    overflow: hidden;
    border-radius: 50% 50% 0% 0%;
    transition: all .2s linear;
}

.box:hover .box-img {
    /* box-shadow: 0px 0px 5px black; */
}

.box-img img {
    transition: all .4s ease;
}

.box:hover .box-img img {
    transform: rotateY(360deg);
    /* filter: invert(1); */
    filter: invert(70%) sepia(71%) saturate(450%) hue-rotate(5deg) brightness(95%) contrast(95%);
}

.why-box {
    background-color: white;
    border: 1px solid rgb(227, 227, 227);
    /* color: #2670b3; */
    padding: 14px;
    border-radius: 10px;
    height: 100%;
    transition: all .2s ease;
}

.why-box:hover {
    box-shadow: 1px 1px 6px #2670b3;
    color: #2670b3;
    /* background-color: #2670b3; */
}

/* .why-box:hover img {
    filter: invert(1);
} */

.why-box img,
.why-box h5 {
    height: 50px;
    margin-bottom: 10px;
}


/* popip css  */
.popup {
    /* height: 300px; */
    width: 300px;
    border: 1px solid black;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    margin: auto;
    transition: all .3 linear;
    opacity: 0;
    visibility: hidden;
}

.popup-bg {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.785);
    z-index: 9999;
    transition: all .3 linear;
    opacity: 0;
    visibility: hidden;
}

.close-popup {
    position: absolute;
    top: 0;
    right: 0px;
    background-color: white;
    padding: 3px 10px;
    color: black;
    border-radius: 50%;
}

.show {
    animation: fadeIn 2s forwards ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.social-icon {
    font-size: 27px;
    color: white;
    margin: 0px 16px;
}

.social-icon:hover {
    color: #53b760;
}

#messageBox,
#messageBox-2 {
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 8px black;
}